// GLOBAL VARS
$text-font: "Nunito", sans-serif;

//COLORS
$darkgreen: #208d45;
$green: #5cad4a;
$yellowgreen: #a7cb54;
$lightgreen: #40c38d;
$darkblue: #24325fff;
$lightblue: #42b4ca;
$text-dark: #252525c4;
$text-light: #ffffff;

// GLOBAL MIXINS
@mixin mobile {
    //this handles mobile and tablet
    @media (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    //this handles mobile and tablet
    @media (min-width: 769px) and (max-width: 1400px) {
        @content;
    }
}

@mixin laptop-min {
    //this handles mobile and tablet
    @media (min-width: 769px) {
        @content;
    }
}
